

<div id="root"></div>
<div id="root2"></div>
<div id="root3"></div>
<div id="root4"></div>
<div id="reactFooter"></div>

@section scripts {
    <script src="~/Scripts/react/dist/bundle.js"></script>
}


